<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="friends" >
    <ion-item-sliding *ngFor="let friend of friends">
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/images/user.png">
        </ion-avatar>
        <h2>{{friend.name}} {{friend.surname}}</h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="pin"></ion-icon>
          Activar
        </button>
        <button ion-button color="primary">
          <ion-icon name="create"></ion-icon>
          Editar
        </button>
        <button ion-button color="secondary">
          <ion-icon name="trash"></ion-icon>
          Eliminar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
